* {
    background-color: #091E05;
    font-family:'PT Mono', monospace;
    color: whitesmoke;
}
/* Desktop Styles */
p, li{
    font-family:'Albert Sans', sans-serif;
    font-size: 75%;
}

h1 {
    width: 700px;
    margin: 20px auto;
    text-align: center;
    font-size: 250%;
}

.main {
    width: 100%; /*full size of webpage*/
    display: flex;
    flex-wrap: wrap;
}

.instructions, .lessons {
    width: 220px;
    height: max-content;
    margin-top: 10px;
    margin-left: 120px;
    border: 5px dashed #9ABD97;
    border-radius: 5px;
    padding: 0 10px;
}

.instructions h3, .lessons h3 {
    display: inline-block;
    margin: 10px 0;
    width: fit-content;
}

.instructions p, .lessons ul {
    display: none;
}

.add, .remove {
    display: block;
    position: relative;
    top: 8px;
    right: 0;
    float: right;
    cursor: pointer;
}

.remove {
    position: relative;
    top: 8px;
    left: 22px;
    visibility: hidden;
}

.square-holder {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap; /* helps content retain their size */
    justify-content: center;
    padding-bottom: 20px;
    margin: 10px 0 0 50px;
    border: 5px solid #9ABD97;
    border-radius: 5px;
}

.square-holder p {
    font-family:'PT Mono', monospace;
    font-size: 90%;
}

.info {
    width: 350px;
    height: 50px;
    margin: 0 auto;
}

#level-counter {
    width: 30%;
    /* display: inline-block; */
    float: left;
}

#level-counter p {
    display: inline-block;
}

#square-counter {
    width: 70%;
    /* display: inline-block; */
    float: right;
    text-align: right;
}

#square-counter p {
    display: inline-block;
}

.square {
    display: flex;
    width: 100px;
    height: 100px;
    background-color:#9ABD97;
    margin: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.text {
    background-color: inherit;
    text-align: center;
}

div .pop-up {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 270px;
    background-color: #091E05;
    text-align: center;
    visibility: hidden;
    box-sizing: border-box; /* puts border inside the box */
    border: 5px solid darkolivegreen; /* adding a border */
    border-radius: 5px;
}

button {
    /* buttons automatically have an inline-block display */
    margin: 10px auto;
    width: 25%;
    height: 30px;
    border: none;
    background-color:darkolivegreen;
    cursor: pointer;
}

button:hover {
    background-color:olive;
}

.pop-up p {
    background-color: inherit;
    padding-top: 10%;
}

.pop-up button {
    display: inline-block;
    width: 100px;
    height: fit-content;
    padding: 10px 10px;
    font-size: 80%;
}

#start {
    visibility: visible;
}

.lessons {
    margin-left: 50px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    h1 {
        width: 100%;
        font-size: 100%;
        margin: 20px auto;
        text-align: center;
    }
    .instructions, .lessons  {
        display: block;
        margin: 0 auto;
        font-size: 50%;
        text-align: center;
        border: 2px dashed #9ABD97;
        border-radius: 2px;
    }
    .instructions h3, .lessons h3 {
        display: block;
        margin: 2% auto;
    }

    .lessons li{
        text-align: left;
    }
    .square-holder {
        width: 75%;
        height: 150px;
        margin: 10px auto;
        border-width: 2px;
        border-radius: 2px;
    }
    .info {
        width: 75%;
        height: 20px;
        font-size: 30%;
    }
    .square {
        width: 30%;
        height: 40px;
        margin: 2px 2px;
    }
    div .pop-up {
        top: 200px;
        width: 100px;
        height: 80px;
        border-width: 2px;
        border-radius: 2px;
    }
    .pop-up p {
        font-size: 30%;
    }
    .pop-up button {
        width: 50px;
        height: 20px;
        font-size: 50%;
        padding-top: 5px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    h1 {
        width: 100%;
        font-size: 150%;
        margin: 20px auto;
        text-align: center;
    }
    .instructions, .lessons  {
        margin: 0 auto;
        font-size: 75%;
        width: 20%;
    }
    .square-holder {
        width: 50%;
        height: 300px;
        margin: 10px auto;
        border-width: 2px;
        border-radius: 2px;
    }
    .info {
        width: 75%;
        height: 20px;
        font-size: 60%;
    }
    .square {
        width: 30%;
        height: 30%;
        margin: 2px 2px;
    }
    div .pop-up {
        top: 170px;
        width: 150px;
        height: 100px;
        border-width: 2px;
        border-radius: 2px;
    }
    .pop-up p {
        font-size: 60%;
    }
    .pop-up button {
        width: 50px;
        height: 20px;
        font-size: 50%;
        padding-top: 5px;
    }
}
