* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    text-align: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.game .explanation p {
    width: 40%;
    margin: 0 auto;
    padding: 50px;
}

.game  {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #8AAA79;
    cursor: pointer;
}

.game-text {
    margin: 0 auto;
    padding-top: 90px;
    font-size: 200%;
    font-weight: bold;
}

#restart {
    width: 50%;
    padding: 10px 5px;
    margin: 20px auto;
    visibility: hidden;
    cursor: pointer;
}
